<!DOCTYPE html>
<!-- 
TODO: language
https://www.w3schools.com/tags/ref_language_codes.asp 
-->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>404 | Page Not Found</title>

    <!-- No Crawling on 404, Temporary pages and others -->
    <meta name="robots" content="nofollow" />
    <meta name="googlebot" content="noindex" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="preload"
      href="/fonts/roboto-latin-300-normal.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/roboto-latin-400-normal.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/roboto-latin-500-normal.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="/js/scripts.js" defer></script>
  </head>
  <!------------ PAGE START ------------->
  <body id="top" class="ptt-page__error">
    <div>
      <h1>Page Not Found!</h1>
      <p>We seem to have misplaced the page you're looking for.</p>
      <p>
        <!-- TODO: Replace link with the full URL of the homepage -->
        <a href="/">Return to homepage</a>
      </p>
    </div>
    <!------------ PAGE END ------------->
  </body>
</html>
